@{
    ViewData["Title"] = "About Me";
}

<div class="container-fluid about_me_page_parent_div">
    <div class="col-12">
        <div class="card about_me_page_card">
            <div class="card-body">
                <div class="h1 text-end"><strong>Dad S. Wonkulah Jr</strong><span style='font-size:20px;'>&#128526;</span><hr /></div>

                <h5 class="card-title">The programmers of tomorrow are the wizards of the future. <strong>~Gabe Newell~</strong></h5>
                <div class="card-text h4 mt-5">
                    Skilled .NET developer who holds a BSc degree with distinction in Information Technology.
                    Passionate about C# .NET development, Looking for an opportunity where I can leverage
                    my skills and experience.

                    I created this simple web application to demonstrate my skills set to potential employers
                    using few of the following technologies listed below.

                  @*   Hi, Thanks for visiting my we! For the facts, this site was built using the latest version of <strong>.NET Core with a backend database</strong>. <br /><br />My name is <strong>Dad S. Wonkulah Jr, but <i>popularly known as Tuse, </i></strong>I am a Liberian <img src="~/images/liberia_flag.png" style="width:25px;" /> born IT profession with many years of work experienced within the IT industry with major focus on Software/Web/System development.<br/><br />Skillful/experienced and passionate <strong>.NET Developer</strong> with 3 years of practical work experienced with C# .NET ecosystem and Microsoft technologies at large!😊
                    <br /><br /> *@
                   @*  Hi and Welcome to my Web Application, My name is Dad S. Wonkulah Jr an IT profesional with many years of work experienced within the IT industry with major focus on Software/Web/System development.<br/><br />Skillful, experienced and passionate <strong>.NET Developer</strong> with 3 years of practical work experienced with C# .NET ecosystem and Microsoft technologies at large!😊
                    <br /><br />
                    I hold a <strong><i>BSc. degree in Information Technology with distinction.</i></strong> I love <i>computer programming</i> because it allows us to be creative in thought!
                    <br /><br />
                    I created this simple web application to demonstrate my skills set to potential employeers using few of the following technologies listed below, this application might be very simple, but it's also doing lot of things in the Backend.
                    <br /><br />
                    I am currently living in Sweden,<img src="~/images/sweden.jpg" class="img-fluid" style="width:40px;" /><strong><i> But also open to opportunities outside of Sweden.</i></strong>
                    <br /><br />
                    I'm available for hire. If you want to build, modify or manage your application development, I'm here to give you a hand. Expect from me a responsive mobile-first application that's easy to navigate by your visitors. 🤼
                    <br /><br /> *@
                    <br/><br/>
                    <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 offset-lg-3 mb-5"><span class="h2">These are my Technologies stack:</span></div>
                    </div>
                    <div class="row">
                      
                        <div class="col-12 col-lg-6 col-md-6">
                            @* Frontend images *@
                            <img src="~/images/skills_images/html.png" class="img-fluid" style="width:80px;" alt="html" title="html"/>
                            <img src="~/images/skills_images/css.png" class="img-fluid" style="width:80px;" alt="css" title="css"/>
                            <img src="~/images/skills_images/bootstrap.jpeg" class="img-fluid" style="width:80px;" alt="bootstrap5" title="bootstrap5"/>
                            <img src="~/images/skills_images/javascript.png" class="img-fluid" style="width:80px;" alt="javascript" title="javascript"/>
                            <img src="~/images/skills_images/react.png" class="img-fluid" style="width:80px;" alt="react" title="react js"/>
                        </div>
                     
                        <div class="col-12 col-lg-6 col-md-6">
                            @* Backend images *@
                            <img src="~/images/skills_images/sql.png" class="img-fluid" style="width:80px;" alt="sql" title="sql"/>
                            <img src="~/images/skills_images/node_js.png" class="img-fluid" style="width:80px;" alt="node js" title="node js"/>
                            <img src="~/images/skills_images/c_sharp.jpeg" class="img-fluid" style="width:80px;" alt="c#" title="c#"/>
                            <img src="~/images/skills_images/net_core.png" class="img-fluid" style="width:80px;" alt=".net core" title=".net core" />
                            <img src="~/images/skills_images/git.png" class="img-fluid" style="width:80px;" alt="git" title="git"/>
                            <img src="~/images/skills_images/azure.png" class="img-fluid" style="width:80px;" alt="azure" title="azure devops"/>
                            <img src="~/images/skills_images/ci_cd.png" class="img-fluid" style="width:80px;" alt="ci/cd"  title="ci/cd"/>
                            <img src="~/images/skills_images/visual_studio.jpeg" class="img-fluid" style="width:80px;" alt="visual studio" title="visual studio"/>
                            <img src="~/images/skills_images/vs_code.jpeg" class="img-fluid" style="width:80px;" alt="vs code" title="vs code" />
                        </div>
                    </div>

                    <div class="offset-lg-1">
                    </div>

                </div>
            </div>
            <img src="~/images/tuse_too_much_joy.jpg" title="Dad S. Wonkulah Jr" class="card-img-bottom offset-3 offset-lg-4 offset-md-2 about_me_page_img_style" alt="Dad S. Wonkulah Jr">
        </div>
    </div>
</div>