@{
    ViewData["Title"] = "About Me";
}

<div class="container-fluid about_me_page_parent_div">
    <div class="col-12">
        <div class="card about_me_page_card">
            <div class="card-body">
                <div class="h1 text-end"><strong>Dad S. Wonkulah Jr</strong><span style='font-size:20px;'>&#128526;</span><hr /></div>

                <h5 class="card-title">The programmers of tomorrow are the wizards of the future. <strong>~Gabe Newell~</strong></h5>
                <div class="card-text h4 mt-5">
                    Hi, Thanks for visiting my website! For the facts, this site was built using the latest version of <strong>Asp.net core MVC with a MS SQL server backend database</strong>. <br /><br />My name <strong>Dad S. Wonkulah Jr, but <i>popularly known as Tuse, </i></strong>I am a Liberian <img src="~/images/liberia_flag.png" style="width:25px;" /> born skillful/experienced <strong>C# .net standard/core Web/System developer</strong> with 3 years of practical work experienced!😊
                    <br/><br/>
                    I hold a <strong><i>BSc. degree in Information Technology with distinction.</i></strong> I love <i>computer programming</i> because it allows me to be creative!
                    <br/><br/>
                    You can build or develop anything just by imagination, if you do have the skills and experienced.
                    <br/><br/>
                    I am currently based in Stockholm,Sweden<img src="~/images/sweden.jpg" style="width:40px;" /> doing my <strong><i>MSc. in Information Technology.</i></strong>
                    <br/><br/>
                    I'm available for hire. If you want to build, modify or manage your website, I'm here to give you a hand. Expect from me a responsive mobile-first website that's easy to navigate by your visitors. 🤼
                    <br/><br/>
                    These are my tech stack: HTML, CSS, JavaScript, SQL C# & .Net core.
                </div>
            </div>
            <img src="~/images/tuse_too_much_joy.jpg" class="card-img-bottom offset-3 offset-lg-4 offset-md-2 about_me_page_img_style" alt="Dad S. Wonkulah Jr">
        </div>
    </div>
</div>