@{
    ViewData["Title"] = "Welcome";
}

<div class="container-fluid test">
    <div class="col-12 col-lg-12 col-md-12 card_parent">
        <div class="card bg-dark text-white m-auto" style="min-height:20px;width:100%;">
           @*  <div class="card-header">
                <h1>Card header</h1>
            </div> *@
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                        <img src="~/images/tuse_.jpg" class="card-img-top w-75 img-fluid m-3" alt="...">
                    </div>
                    <div class="col-12 col-lg-8 col-md-8 dev_title">
                        <span class="h3 text-center offset-1">
                            C# .NET standard/core Software Developer
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_CustomNotificationScriptsPartial" />
}
